@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  background-color: #1e37c7;
}

.heading{
  text-align: center;
  padding: 2.5rem 0;
}


/*package product*/
.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:23px;
}
section {
  padding: 2rem;
}

a {
  color: #4d12ee;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  opacity: 0.5;
}
.content{
  background-color: white;
}


.packages .box-container .box{
  flex:1 1 1rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.packages .box-container .box img{
  height: 20rem;
  width:100%;
  object-fit: cover;
}

.packages .box-container .box .content{
  padding:2rem;
}

.packages .box-container .box .content h3{
  font-size:2rem;
  color:#333;
}

.packages .box-container .box .content h3 i{
  color:var(--orange);
}

.packages .box-container .box .content p{
  font-size:16px;
  color:#666;
  padding:1rem 0;
}


